* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Belgrano, serif;
    font-size: 14px;
    background: url('../images/siteBackground.jpg');
    padding-top: 10px;
    color: #452200;
}

a {
    text-decoration: none;
    color: #900000;
}

li {
    list-style-type: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}


/* 测边栏 */

aside {
    float: left;
    width: 320px;
}

.logo {
    float: left;
    background: url('../images/logoBackground.png') no-repeat;
    width: 206px;
    height: 205px;
}

.logo h1 {
    font-size: 60px;
    color: #883b12;
    font-family: Lobster, sans-serif;
    line-height: 60px;
    padding: 40px 0 0 43px;
}

.logo h1 a {
    color: #5a270b;
    text-shadow: 1px 1px 1px #fff;
}


/* 侧边栏导航 */

.navlist {
    padding-right: 40px;
    text-align: center;
}

.navlist li {
    padding: 5px 0;
    font-family: Lobster, sans-serif;
    text-shadow: 0 0 1px #fff;
    font-size: 36px;
}

.navlist li a {
    color: #ac8829;
}

.navlist li a:hover {
    color: #452200;
}

.navlist .firsta {
    color: #452200;
}

main {
    float: right;
    width: 750px;
}

main article {
    width: 193px;
    float: left;
    margin: 0 57px 25px 0;
}

main h2 {
    font-family: Lobster, sans-serif;
    font-size: 30px;
    padding: 10px 0;
    color: #883b12;
    text-shadow: 1px 1px 22px #fff;
}

main article a h2:hover {
    color: #452200;
}

main p {
    line-height: 1.5em;
}

.date,
.read-more {
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

main .date span {
    color: #ac8829;
}

.clear {
    clear: both;
}

footer {
    width: 1100px;
    margin: 30px auto 0;
    text-align: center;
    border-top: 1px solid #ac8829;
}

footer p {
    padding: 25px 20px;
}